html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(10, 6, 6);
}

img {
	max-width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 15px;
}

/* glob */
h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.cards-title {
	margin-top: 60px;
	margin-bottom: 50px;
}

.flex {
	display: flex;
}

.card-grid {
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	perspective: 1000px;
	/* background-color: burlywood; */
}

.hidden {
	display: none;
}

/* Вспомогательные цвета которые можно убрать
.card-grid li {
	background-color: cadetblue;
}

.card-grid li:nth-child(2n) {
	background-color: darkgray;
} */

/* Классическая Bootsrap сетка */
.card {
	width: 100%;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-2 {
	width: calc(100% / 2);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-3 {
	width: calc(100% / 3);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-4 {
	width: calc(100% / 4);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-5 {
	width: calc(100% / 5);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-6 {
	width: calc(100% / 6);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-7 {
	width: calc(100% / 7);
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Карточки */
.zoomer {
	animation-duration: 2s;
}

.victory {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0px;
	left: 0px;
}

.loss {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0px;
	right: 0px;
}

.text-loss {
	position: absolute;
	top: 500px;
	right: 50px;
	font-size: 70px;
	color: white;
}

.text-victory {
	position: absolute;
	top: 500px;
	left: 50px;
	font-size: 70px;
	color: white;
}

.title {
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.timer {
	text-align: center;
	font-size: 70px;
	color: white;
}

.pary-card {
	position: relative;
	height: 150px;
	transform: scale(1);
  transform-style: preserve-3d;
	transition: transform .3s;
	border: 1px solid black;
}

.pary-card:active {
	transform: scale(0.95);
}

.pary-card.flip {
  transform: rotateY(180deg);
}

.item {
	text-align: center;
	font-size: 70px;
	color: black;
}

.front-face ,
.back-face {
  position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	cursor: pointer;
	border-radius: 8px;
	background: white;
	backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}


