$colorBlack: #202020;
$colorBackgroundHashtag: #333333;
$colorTextWhite: #FFFFFF;
$colorOrange: #FF6E30;
$colorOrangeDark: #BC572B;
$colorGreylight: #E9E9E9;
$colorGrey: #CACACA;
$colorGreyDark: #999999;
$colorGreyDeep: #4A4A4A;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$colorError: #F06666;
$colorRed: #FF3030;
