$colorBlack: #000000;
$colorBlackText: #282828;
$colorWhite: #FFFFFF;
$colorWhiteText: #F7F7F7;
$colorWhiteTextMini: #EBEBEB;
$colorGreyLight: #E1E1E1;
$colorGrey: #C4C4C4;
$colorGreyDark: #969696;
$colorGreyDarkDeep: #4E4E4E;
$colorGold: #D3B36F;
$colorOrange: orange;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;
$fontWeightHeavy: 800;
