@import '_variables.scss';
@import '_mixin.scss';

html {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  display: inline-grid;
  grid-auto-flow: column;
  padding: 1px;
  gap: 5px;
  align-items: center;
  @include setFontStyleNotoSans();
  font-size: 14px;
  font-weight: $fontWeightRegular;
  transition: background-color .3s linear, color .3s linear;

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  & svg {
    transition: stroke .3s linear;
  }

  &:hover svg {
    stroke: $colorWhite;
  }

  &:focus-visible svg {
    stroke: $colorWhite;
  }
}

.btn-second {
  display: inline-block;
  padding: 14px 50px;
  background-color: $colorBlackText;
  @include setFontStyleNotoSans();
  font-size: 14px;
  font-weight: $fontWeightRegular;
  color: $colorWhiteText;
  transition: background-color .3s linear, color .3s linear, border .3s linear;
  border: 1px solid transparent;

  &:hover {
    background-color: $colorWhite;
    color: $colorBlack;
    border-color: $colorBlack;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: $colorWhite;
    color: $colorBlack;
    border-color: $colorBlack;
  }
}

.subtitle {
  @include setFontStyleArimo();
  font-size: 36px;
  font-weight: $fontWeightRegular;
  color: $colorBlack;
}

.text {
  @include setFontStyleNotoSans();
  font-size: 15px;
  font-weight: $fontWeightLight;
  line-height: 180%;
  color: $colorBlack;
}

.text-mini {
  @include setFontStyleNotoSans();
  color: $colorWhiteTextMini;
  font-size: 12px;
  font-weight: $fontWeightRegular;
}

.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: opacity .8s ease;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  transform: translate(0px, 0px);
  transition: transform .8s linear;
}

.wrapper._loaded .page__pagination {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, -50%);
  transition: transform .6s linear;
}

.wrapper._free .page__pagination {
  opacity: 0;
  transform: translate(50px, -50%);
  transition: transform .3s linear, opacity .3s linear;
}

.page-loader {
  position: absolute;
  z-index: 1000;
  background-color: #FFF;
}

.page-loader._bot {
  bottom: 0;
}

.page-loader._top {
  top: 0;
}

.arrow-right {
  width: 40px;
  height: 32px;
  stroke: $colorBlackText;
  fill: transparent
}

.arrow-left {
  width: 40px;
  height: 32px;
  stroke: $colorBlackText;
  fill: transparent
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $colorWhiteTextMini;
  transform: translate(0px, 4px);

  &--offset {
    transform: translate(20px, 4px);
  }
}

.play {
  width: 72px;
  height: 72px;
}

.disable-scroll {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    opacity: 1;
  }

  .text-mini {
    color: $colorGrey;
  }
}

@media (max-width: 576px) {
  .subtitle {
    font-size: 28px;
  }
}
