@import '_variables.scss';
@import '_mixin.scss';

.production {
  display: grid;
  align-items: center;
  height: 100%;
  background-color: $colorBlack;

  &__content {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 545px)) 1fr;
    padding-top: 70px;
    gap: 20px;
  }

  &__image {
    grid-column: 2 / 3;
    display: grid;
  }

  &__body {
    grid-column: 3 /4;
    padding-top: 150px;
    padding-left: 40px;
  }

  &__decor {
    grid-column: 4 / 4;
    display: grid;
    padding-top: 150px;
  }

  &__text-mini {
    display: grid;
    grid-template-columns: minmax(auto, 100px) 1fr;
    grid-auto-flow: column;
    margin-bottom: 22px;
    color: $colorBlackText;
  }

  &__line {
    display: block;
    background-color: $colorBlackText;
  }

  &__subtitle {
    margin-bottom: 14px;
    color: $colorWhiteText;
  }

  &__text {
    color: $colorWhiteText;
  }

  &__btn {
    margin-top: 60px;
    color: $colorWhiteText;
    transition: background-color .3s linear, color .3s linear;

    &:hover {
      background-color: $colorWhite;
      color: $colorBlack;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      background-color: $colorWhite;
      color: $colorBlack;
    }

    &:hover svg {
      stroke: $colorBlack;
    }

    &:focus-visible svg {
      stroke: $colorBlack;
    }
  }

  &__inco {
    stroke: $colorWhiteText;
  }
}

@media (max-width: 768px) {
  .production {

    &__content {
      padding-top: 0px;
      padding-bottom: 70px;
    }

    &__body {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 576px) {
  .production {

    &__content {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 576px) 1fr;
      gap: 20px 0px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__full {
      grid-column: 2 / 3;
    }

    &__body {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding: 0;
    }

    &__line {
      display: none;
    }

    &__text-mini {
      margin-bottom: 18px;
    }

    &__subtitle {
      margin-bottom: 18px;
    }

    &__btn {
      position: relative;
    }

    &__image {
      position: static;
    }
  }
}
